@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400;500;700&display=swap");

body {
  background-color: #1a1c20;
  color: #e3e3e3;
  background-size: 100vh 100vw;
  font-family: "Be Vietnam Pro", sans-serif;
  
}

.btn-cek {
  background-color: #5168f4;
  color: #e3e3e3;
}
.hh{
  /* min-height: 100vh; */
}

@media (max-width: 768px) {
  .bd {
    border: solid 0px !important;
  }
}